/*-------------------------------------------------INICIO BACKGROUND------------------------------------------------------------------------------------*/
.image{
    max-width: 50%;
    height: auto;
}
.backgroundeDU{
    padding: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs-newe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    justify-content: center;
    margin: 15px;
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card-exp-edu{
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    margin: 20px;
}
.card-exp-edu-destaque{
    padding: 15px;
}
.barra-title{
    background-color: black;
    color: white;
}

.tilte{
    padding: 15px;
}
@media (max-width: 1200px)
{
    .backgroundeDU {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsive_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-exp-edu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: orange;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        margin: 20px;
    }

}
@media (max-width: 800px)
{
    .backgroundeDU {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsive_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-exp-edu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: orange;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        margin: 20px;
    }
    .image{
        max-width: 100%;
        height: auto;
    }
   
}
@media (max-width: 600px)
{
    .backgroundeDU {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsive_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-exp-edu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: orange;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        margin: 20px;
    }
    .image{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 480px)
{
    .backgroundeDU {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsive_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-exp-edu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: orange;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        margin: 20px;
    }
    .image{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 320px)
{
    .backgroundeDU {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsive_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-exp-edu{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: orange;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        margin: 20px;
    }  
    .image{
        max-width: 100%;
        height: auto;
    }
}

.inicio-slide{
    background-color: black; 
    padding: 15px;
}
.card-slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
}
.card-teext{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    color: white;
}
.card-bottom{
    height: 50px;
    font-weight: bold;
    background-color: orange;
    color: white;
}
@media (max-width: 1200px)
{
  

}
@media (max-width: 800px)
{
    .card-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .card-teext{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        color: white;
    }
    .card-bottom{
        height: 50px;
        font-weight: bold;
        background-color: orange;
        color: white;
    }
}
@media (max-width: 600px)
{
    .card-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .card-teext{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        color: white;
    }
    .card-bottom{
        height: 50px;
        font-weight: bold;
        background-color: orange;
        color: white;
    }
}
@media (max-width: 480px)
{
    .card-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .card-teext{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        color: white;
    }
    .card-bottom{
        height: 50px;
        font-weight: bold;
        background-color: orange;
        color: white;
    }
  
}
@media (max-width: 320px)
{
    .card-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }
    .card-teext{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        color: white;
    }
    .card-bottom{
        height: 50px;
        font-weight: bold;
        background-color: orange;
        color: white;
    }
}























 /* .carousel-container {
width: 600px;
height: 400px;
position: relative;
margin: 0 auto;

}

.navigation .prev {
position: absolute;
z-index: 10;
font-size: 25px;
top: 40%;
left: 10px;
font-weight: 700;
}
.navigation .next {
right: 10px;
position: absolute;
font-size: 25px;
z-index: 10;
top: 40%;
}
.navigation .nav-btn {
background: rgba(255, 255, 255, 0.55);
cursor: pointer;
border-radius: 50%;
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.navigation .nav-btn:hover {
background: white;
}

.carousel {
margin-top: 20px;
transition: all 0.3s ease;

}
.carousel img {
width: 100%;
transition: all 0.3s ease;
border:8px solid white;
}

.caption {
position: absolute;
bottom: 0;
width: 103%;
display: flex;
font-size: 20px;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0.3);
height: 35px;
}

.item {
position: absolute;
display: none;
}

.main {
display: block;
} */
